historical_data_2022Q1/historical_data_2022Q1.txt
historical_data_2022Q1/historical_data_time_2022Q1.txt
historical_data_2022Q2/historical_data_2022Q2.txt
historical_data_2022Q2/historical_data_time_2022Q2.txt
historical_data_2022Q3/historical_data_2022Q3.txt
historical_data_2022Q3/historical_data_time_2022Q3.txt
historical_data_2022Q4/historical_data_2022Q4.txt
historical_data_2022Q4/historical_data_time_2022Q4.txt
